body {
  background: linear-gradient(135deg,#667eea,#764ba2);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Arial;
}
.container {
  background:white;
  padding:25px;
  border-radius:10px;
  text-align:center;
  width:300px;
}
input,button {
  width:100%;
  padding:10px;
  margin-top:10px;
}
#qrImage {
  margin-top:15px;
  width:150px;
}
